@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://media.discordapp.net/attachments/765947349168029716/765960973957070878/Logo.PNG?width=376&height=120" class="d-block w-100" alt="...">
        </div>
