.nav-link{
    font-size: 1.5em;
}

.navSeparator{
    border-right: 2.5px solid lightgray;
    border-radius: 40%;
    margin: 10px;
}

.indexCarouselImg{
    max-height: 420px;
}

.mainTitle {
    border: 3px solid black;
    padding: 50px;
    margin: 20px;
    width: 50%;
}

.mainTitle p {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}


