
/*---------------------------------------MULTI STYLE------------------------------------------------------*/

html {
background: #30c4fc;
    margin: 0;
    overflow-x: hidden;
    font-family: bahnschrift;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: linear-gradient(90turn, #30c4fc, #66e0ff); !important;
    border: 0px;
}

.btn-context {
    background: linear-gradient(90deg, #80dfff, #33ccff) !important;
    width: 100%;
}

.mainTitle {
    border: 3px solid black;
    padding: 50px;
    margin: 20px;
    width: 50%;
}

.mainTitle p {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

#mainBgImg {
    width: 105%;
    margin-left: -25px;
}

/*---------------------------------------NAV------------------------------------------------------*/

nav li{
    margin-top: 25px;
    font-size: 1.2em;
    transition: 0.2s;
    border-radius: 20px;
}

nav li:hover {
    transform: scale(1.2);
}

.navSpacing{
    margin-right: 50px;
    margin-left: 50px;
}

.nav-link{
    font-size: 1.5em;
}

#navLogo{
    height: 69px;
}

.navUserActions{
    width: 110%
}


/*---------------------------------------INDEX------------------------------------------------------*/

.indexImg {
    /*background-image: url("../Ressources/samplePrint_32.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;*/
}
