/*#shopFilter{
    background: #EEEEEE;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
}

#filterTitle{
    font-style: italic;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;

}

.filterHeader{
}

#filterColor{
    padding: 3px;
}
*/


.filterSeparator{
    border-bottom: 1px solid lightgray;
    margin: 15px;
}

#filterHolder {
    box-shadow: 1px 1px 10px lightgray;
}

.card {
    transition-duration: 0.15s;
    height: 300px;
}

.card:hover{
    transform: scale(1.1);
}

.cardWrap {
    background: linear-gradient(25turn, #30c4fc, #66e0ff);
    position: relative;
    padding: 3px;
    margin-bottom: 42px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px lightgray;
}

.btn-context {
    background: linear-gradient(90deg, #80dfff, #33ccff) !important;
    width: 100%;
}