@model v2.Models.T_Product


@{
    ViewBag.Title = "ProductDetails";
}

<div class="row">

    <div class="">
        
    </div>

    <div class="">
        <h2>
            @Model.name_product
        </h2>
        <span>
            Référence: @Model.id_product
        </span>

        <hr class="my-4"/>

        @Model.
    </div>

    <div class="">

    </div>
</div>
